{% extends "layout.html" %}
{% block contest_tab %} active{% endblock %}
{% block body %}
<div class="padding">
  <h1>{{ contest.title }}</h1>
  <div class="ui grid">
  {% if contest.is_allowed_edit(user) or not contest.is_running() %}
    <div class="row">
      <div class="column">
        <div class="ui buttons">
          <a class="ui small positive button" href="{{ url_for('contest_ranklist', contest_id=contest.id) }}">Ranklist</a>
    {% if contest.is_allowed_edit(user) %}
          <a class="ui small button" href="{{ url_for('edit_contest', contest_id=contest.id) }}">Edit contest</a>
    {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
    <div class="row">
      <div class="column">
        <h4 class="ui top attached block header">Description</h4> 
        <div class="ui bottom attached segment">
          {{ contest.information }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
         <table class="ui selectable celled table">
            <thead>
              <tr>
                <th class="one wide" style="text-align: center">Status</th>
                <th class="fourteen wide">Problem</th>
                <th class="one wide" style="text-align: center">Code</th>
              </tr>
            </thead>
            <tbody>
              {% set problems = contest.get_problems() %}
              {% set i = 0 %}
              {% for problem in problems %}
              <tr>
                <td style="text-align: center">{{ info[problem.id] | safe }}</td>
                <td><a href="{{ url_for('contest_problem', contest_id=contest.id, kth_problem=i)}}">{{ problem.title }}</a></td>
                <td style="text-align: center">{% if problem.id in code %}<a href="{{ url_for('judge_detail', judge_id=code[problem.id]) }}"><i style="color: #000;" class="code icon"></i></a>{% endif %}</td>
              </tr>
            {% set i = i + 1 %}
            {% endfor %}
            </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
