{% extends "layout.html" %}
{% block body %}
<style type="text/css">
  .problem_header{
    text-align: center;
  }
</style>
{% if problem %}
  {% set problem_id = problem.id %}
<h1 class="ui header">Edit Problem</h1>
{% else %}
  {% set problem_id = 0 %}
<h1 class="ui header">Upload Prolem</h1>
{% endif %}
<div class="padding">
    <form class="ui form" method="post" action="{{url_for('edit_problem',problem_id=problem_id)}}">
      <div class="ui top attached tabular menu">
        <a class="item active" data-tab="edit">Edit</a>
        <a class="item" data-tab="preview" id="preview_tab">Preview</a>
      </div>
      <div class="ui bottom attached tab segment active" data-tab="edit">
        <div class="field">
          <label for="title">Title</label>
          <input type="text" id="title" name="title" value="{% if problem %}{{problem.title}}{% endif %}">
          <label for="description">Description</label>
          <textarea rows="15" id="description" name="description">{% if problem %}{{problem.description}}{% endif %}</textarea>
          <label for="input_format">Input format</label>
          <textarea rows="3" id="input" name="input_format">{% if problem %}{{problem.input_format}}{% endif %}</textarea>
          <label for="output_format">Output format</label>
          <textarea rows="3" id="output" name="output_format">{% if problem %}{{problem.output_format}}{% endif %}</textarea>
          <label>Examples</label>
          <textarea rows="15" id="example" name="example">{% if problem %}{{problem.example}}{% endif %}</textarea>
          <label>Limits and Hints</label>
          <textarea rows="10" id="hint" name="limit_and_hint">{% if problem %}{{problem.limit_and_hint}}{% endif %}</textarea>
        </div>
      </div>
      <div class="ui bottom attached tab segment" data-tab="preview" id="preview">
        <h1 class="ui header problem_header" id="pv-title"></h1>
        <h2 class="ui header">Description</h2>
        <div id="pv-description"></div>
        <h2 class="ui header">Input format</h2>
        <div id="pv-input"></div>
        <h2 class="ui header">Output format</h2>
        <div id="pv-output"></div>
        <h2 class="ui header">Examples</h2>
        <div id="pv-example"></div>
        <h2 class="ui header">Limits and Hints</h2>
        <div id="pv-hint"></div>
      </div>
      <button type="submit" class="ui button">Submit</button>
    </form>
</div>
{% endblock %}

{% block script %}
<script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\\(','\\)']]}});</script>
<script type="text/javascript" src="//cdn.bootcss.com/mathjax/2.6.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<script type="text/javascript" src="//cdn.bootcss.com/marked/0.3.6/marked.min.js"></script>

<script type="text/javascript">
function render(output,input){
    output.html(marked(input.val()));
}
$("#preview_tab").click(function(){
    $("#pv-title").text($("#title").val());
    render($("#pv-description"),$("#description"));
    render($("#pv-input"),$("#input"));
    render($("#pv-output"),$("#output"));
    render($("#pv-example"),$("#example"));
    render($("#pv-hint"),$("#hint"));
    $("pre").css('margin-top', '0');
    $("pre").css('margin-bottom', '0');
    $("pre").wrap('<div class="ui attached segment"></div>');
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
    MathJax.Hub.Queue(["Typeset", MathJax.Hub, "preview"]);
});

$('.tabular.menu .item').tab();
</script>
{% endblock %}
