{% extends "layout.html" %}
{% block body %}
<h1>Problem Set</h1>
<div class="padding">
  {% if user.is_admin %}
  <div class="ui grid">
    <div class="row">
      <div class="column">
        <a href="{{url_for('edit_problem',problem_id=0)}}" class="ui mini right floated button">New Problem</a>
      </div>
    </div>
  </div> 
  {% endif %}
  <table class="ui very basic table">
    <thead>
      <tr>
        <th class="one wide">ID</th>
        <th>Problem title</th>
        <th class="one wide">AC</th>
        <th class="one wide">Submit</th>
      </tr>
    </thead>
    <tbody>
      {% set problems = sorter.get() %}
      {% for problem in problems %}
        {% if problem.is_public or problem.is_allowed_edit(user)%}
      <tr>
        <td>{{problem.id}}</td>
        <td><a href="{{url_for('problem',problem_id=problem.id)}}">{{problem.title}}{% if problem.is_allowed_edit(user) and not problem.is_public %} <div class="ui mini red label">Unpublic</div>{% endif %}</a></td>
        <td>{{problem.ac_num}}</td>
        <td>{{problem.submit_num}}</td>
      </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table><br>
  {{sorter.get_html()|safe}}
</div>
{% endblock %}
