{% extends "layout.html" %}
{% block body %}
<h1>Ranklist</h1>
<div class="padding">
  <form action="{{url_for('find_user')}}" class="ui mini form" method="get" role="form">
    <div class="inline field">
      <input name="nickname" placeholder="Username" style="margin-right: 2px;" type="text" value=""><button class="ui mini button" type="submit">Search</button>
    </div>
  </form>
	    <table class="ui very basic table">
	        <thead>
	        <tr>
	            <th>Rank</th>
	            <th>Username</th>
	            <th>Motto</th>
	            <th>Solved</th>
	        </tr>
	        </thead>
	        <tbody>
	        {% set rank = sorter.per_page*(sorter.cur_page-1) + 1 %}
            {% set users = sorter.get() %}
	        {% for user in users %}
	        {% if user.is_show %}
		        <tr>
		        	<td>{{rank}}</td> {% set rank = rank + 1 %}
		        	<td><a href="{{url_for('user', user_id=user.id)}}">{{user.nickname}}</a>{% if user.nameplate %}{{ user.nameplate | safe}}{% endif %}</td>
		        	<td>{% if user.information %}{{user.information}}{% endif %}</td>
		        	<td>{{user.ac_num}}</td>
		        </tr>
		     {% endif %}
		     {% endfor %}
	        </tbody>
	    </table>
    <br>
    {{sorter.get_html() | safe}}
</div>
{% endblock %}
